* {
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
}

html, body {
  margin-bottom: 0;
}

section {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: stretch;
}

h1 {
  font-family: "Shrikhand", cursive;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  font-weight: 600;
}

footer h2, .menu h2 {
  font-family: "Shrikhand", cursive;
}

button {
  font-size: medium;
}

.cards p {
  font-size: larger;
  font-weight: 300;
}
.cards .img-nouveau p {
  font-size: 85%;
  font-weight: 500;
}

/*COULEURS*/
/* BREAKPOINTS */
.card {
  border-radius: 30px;
}
.card-fonctionnement {
  background-color: whitesmoke;
  display: flex;
  text-align: center;
  align-items: center;
  position: relative;
}
.card-fonctionnement * {
  display: flex;
  text-align: center;
  padding: 0.5em;
}
.card-fonctionnement__number-container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  position: absolute;
  left: -10px;
}
.card-fonctionnement__number-container p {
  color: white;
}
.card-fonctionnement__icon-container {
  padding-left: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.card-fonctionnement__icon-container i {
  color: #5c5c5c;
}
.card-fonctionnement__text-container {
  width: 100%;
}

.Restaurants {
  background-color: whitesmoke;
}
.Restaurants .restaurant-card-container {
  margin: 2em;
}
.Restaurants .cards {
  border-radius: 25px;
  margin-bottom: 2em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.Restaurants .cards .cards_img {
  position: relative;
}
.Restaurants .cards .cards_img .img-nouveau {
  height: 30px;
  width: 90px;
  background-color: #8bd4bc;
  color: #1e7e71;
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
}
.Restaurants .cards .cards_img .img-nouveau p {
  margin: auto;
}
.Restaurants .cards .cards_img img {
  object-fit: cover;
  width: 100%;
  border-radius: 25px 25px 0 0;
  height: 200px;
}
.Restaurants .cards .cards_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Restaurants .cards .cards_text-left {
  padding-left: 1em;
  padding-bottom: 0em;
  text-align: left;
  line-height: 8px;
  padding-top: 8px;
}
.Restaurants .cards .cards_text-left p {
  margin-top: 0.5em;
  padding-top: 0;
}
.Restaurants .cards .cards_text-left p strong {
  padding-bottom: 0;
  margin-bottom: 0;
}
.Restaurants .cards .cards_text-right {
  padding-right: 1em;
  font-size: xx-large;
}

.menu .cards {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 15px;
}
.card-menu__right {
  display: flex;
  align-items: flex-end;
}
.card-menu__left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.card-menu h4, .card-menu p {
  margin: 5px;
}

@media (min-width: 768px) {
  body {
    background-color: red;
  }

  .Fonctionnement {
    display: grid;
    grid-template: "title title title" "card1 card2 card3 ";
  }

  .Fonctionnement h2 {
    grid-area: title;
  }
  .Fonctionnement .card-1 {
    grid-area: card1;
  }
  .Fonctionnement .card-2 {
    grid-area: card2;
  }
  .Fonctionnement .card-3 {
    grid-area: card3;
  }

  .restaurant-card-container {
    display: grid;
    grid-template: " c1 c2" "c3 c4";
    grid-gap: 1em;
  }
  .restaurant-card-container .cards {
    margin: 1em;
  }
  .restaurant-card-container .rcard-1 {
    grid-area: c1;
  }
  .restaurant-card-container .rcard-2 {
    grid-area: c2;
  }
  .restaurant-card-container .rcard-3 {
    grid-area: c3;
  }
  .restaurant-card-container .rcard-4 {
    grid-area: c4;
  }
}
@media (min-width: 992px) {
  body {
    background-color: #11a72a;
  }
}
@media (min-width: 1200px) {
  body {
    background-color: #fffb00;
  }

  .restaurant-card-container {
    display: grid;
    grid-template: " c1 c2 c3 c4";
  }
}
footer {
  background-color: #434343;
  color: white;
  padding-bottom: 2em;
  padding-left: 2em;
}
footer h2 {
  padding-top: 1em;
  margin-top: 0;
}
footer ul {
  list-style: none;
  padding-left: 0em;
}
footer ul li {
  display: flex;
  align-items: center;
  height: 2em;
}
footer ul li i {
  padding-right: 10px;
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
header div {
  display: flex;
}
header .localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #e8e8e8;
  padding: 0.5em 0;
}
header .localisation * {
  padding: 0 0.5em 0 0.5em;
}

.acceuil .localisation {
  color: #434343;
}

.acceuil .Fonctionnement .card_container {
  margin: 1em 2em;
}

.acceuil .Fonctionnement h2, .acceuil .Restaurants h2 {
  padding: 1em;
  text-align: left;
  margin-bottom: 0;
}

.acceuil .Fonctionnement {
  align-items: stretch;
}

.acceuil .Restaurants {
  padding-bottom: 2em;
  align-items: stretch;
}

button {
  color: white;
  background: #9c3cc1;
  background: linear-gradient(0deg, #9c3cc1 0%, #f17fe3 100%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 1em;
  border-radius: 25px;
  border: none;
  margin: 5% 25%;
}

.carroussel {
  background-color: whitesmoke;
  padding: 0em 2em 2em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.carroussel h2, .carroussel h3 {
  text-align: center;
  margin-bottom: 0;
}
.carroussel h3 {
  font-weight: 200;
  font-size: 110%;
  margin-top: 0;
}
.carroussel button {
  margin-top: 2em;
  align-items: stretch;
  margin-left: 3em;
  margin-right: 3em;
  padding: 1em;
}

.menu-carroussel {
  height: 300px;
  width: 100%;
  margin-bottom: -30px;
}
.menu-carroussel img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .carroussel {
    display: grid;
    grid-template: "h2 button" "h3 button";
  }
  .carroussel h2 {
    grid-area: h2;
    margin-left: 0;
    text-align: left;
  }
  .carroussel h3 {
    grid-area: h3;
    text-align: left;
  }
  .carroussel button {
    grid-area: button;
  }

  .menu-carroussel {
    display: none;
  }
}
/*Menu global*/
.menu {
  padding: 10px 0px;
  background-color: whitesmoke;
  border-radius: 30px 30px 0 0;
}

.menu-page > .menu > * {
  padding-left: 2em;
  padding-right: 2em;
}

/*Restaurant name*/
.menu > h2 {
  text-align: left;
}

/* Menu titles */
.menu-category-title {
  text-transform: uppercase;
  color: #434343;
  text-align: left;
}
.menu-category-title h3 {
  margin-bottom: 0px;
}
.menu-category-title hr {
  height: 4px;
  width: 50px;
  background-color: #99E2D0;
  border: none;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .menu-page {
    display: flex;
    align-items: center;
    background-color: white;
  }

  .menu-page > .menu, .menu-carroussel {
    width: 70%;
  }

  .menu {
    background-color: whitesmoke;
  }
}

/*# sourceMappingURL=style.css.map */
