.heart, .heart-container {

    .filled  {
        display: none;
        background-color: #CF70C5;
        background: linear-gradient(to right, #CF70C5 0%, #9217CF 100%);
        
        // background-clip: text;
        -webkit-background-clip: text;
    

        -webkit-text-fill-color: transparent;
        //-moz-text-fill-color: transparent;
    
      
    }

    .border {
        display: block;
    }

   
}
 
.heart-container:hover, .heart:hover{
        
    cursor: pointer;
    .filled {
        display: block;
        animation: fadein 1s; 
    }

    .border {

        display: none;
    }
    
}