* {
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    
   }

   html, body {
       margin-bottom: 0;

   }


section {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: stretch;
    
}
