
h1 {
    font-family: "Shrikhand", cursive;
    
  
    
}

body {
    font-family: "Roboto", sans-serif;
}

header {
    font-weight: 600;
}




footer, .menu {
    h2 {
        font-family:  "Shrikhand", cursive;
        
    }
}

button {
    font-size:medium;
}

.cards {

    h4 {
        font-size: 1em;
    }
    p {
        font-size: larger;
        font-weight: 300;
    }

    .img-nouveau {
        p {
            font-size: 85%;
            font-weight: 500;
        }
    }
 

}