
h1 {
    font-family: "Shrikhand", cursive;
    
  
    
}

body {
    font-family: "Roboto", sans-serif;
}

header {
    font-weight: 600;
}




footer, .menu {
    h2 {
        font-family:  "Shrikhand", cursive;
        
    }
}