.acceuil {
    .localisation {

         color: $background-secondary;
    
    
    }
}

.acceuil .Fonctionnement {

    .card_container {
        margin: 1em 2em;
    }
}

.acceuil {
    h2 {
    padding: 1em;
    text-align: left;
    margin-bottom: 0;

    }
}

.acceuil .Fonctionnement {
    align-items: stretch;
}

.acceuil .Restaurants {
    padding-bottom: 2em;
    align-items: stretch;
}


@media (min-width: 768px) {
    .Fonctionnement > .h2, .Restaurants > .h2 {
    text-align: center;       }
 }