/*Menu global*/

.Menu {
    margin: 10px 20px;

}

/* Menu title */


.Menu-category-title {
    text-transform: uppercase;
    color: $background-secondary;
    text-align: left;
    

    h3 {
        margin-bottom: 0px;
    }

    hr {
        height: 4px;
        width: 50px;
        background-color: $colour-tertiary;
        border: none;
    }
}