/*COULEURS*/
$colour-primary: #9356DC; 
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0; 
$background-primary: rgb(245, 245, 245);
$background-secondary: darken($background-primary, 70);
/*FONT-FAMILY*/
$title-font : "Shrikhand";
$text-font : "Roboto";
