//CARDS FONCTIONNEMENT

.card {

    border-radius: 30px;
    
        &-fonctionnement {
            background-color: $background-primary;
            display: flex;
            text-align: center;
            align-items: center;
            position: relative;
    
            & * {
                
                display: flex;
                text-align: center;
                padding: 0.5em;
            }
    
            &__number-container {
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                background-color: $colour-primary;
                border-radius: 15px;
                width: 30px;
                height: 30px;
                position: absolute;
                left: -10px;
                
        
                p {
                    color: white;
                }
            }
        
            &__icon-container {
                padding-left: 40px;
                display: flex;
                text-align: center;
                justify-content: center;
        
                i {
                    color: darken($background-primary, 60);
                }
        
            
            } 
            &__text-container {
                
                width: 100%;
            }
        
        
        }
    
        
    }


    //* Restaurants *//

    .Restaurants {

        background-color: $background-primary;

        .restaurant-card-container {
            margin: 2em;
        }

        .cards {

            border-radius: 25px;
            //width: 100%;
            margin-bottom: 2em;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            
            .cards_img {

                position: relative;

                .img-nouveau {
                    height: 30px;
                    width: 90px;
                    background-color: rgb(139, 212, 188);
                    color:rgb(30, 126, 113);
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    display: flex;

                    p {
                        margin: auto;
                    }
                    
                }
                img {
                    object-fit: cover;
                    width: 100%;
                    border-radius: 25px 25px 0 0;
                    height: 200px;
                }
            }
            
            .cards_text {
                display: flex;
                justify-content: space-between;
                align-items: center;

            }
            .cards_text-left {
                padding-left: 1em;
                padding-bottom: 0em;
                text-align: left;
                line-height: 8px;
                padding-top: 8px;
                

        


                p {
                    margin-top: 0.5em;
                    padding-top: 0;
           

                    strong {
                        padding-bottom: 0;
                        margin-bottom: 0;
                    }
                }
            }

            .cards_text-right {
                padding-right: 1em;
                font-size: xx-large;
            }
        }
    }

    // Menu Cards

    .menu {
        .cards {
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        }
    }
    .card-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 15px;

        &__right {
            display: flex;
            align-items: flex-end;
        }

        &__left {
            display: flex;
            align-items: flex-start;
            flex-direction: column;

        }

        h4, p {
            margin: 5px;
        }

    }

    


    // Responsive 
    // Media Querys

    @media (min-width: $md) {
        body {
          background-color: red;
        }

        .Fonctionnement {
            display: grid;
            grid-template: 
            "title title title"
            "card1 card2 card3 "

        }

        .Fonctionnement {
            h2 {
                grid-area: title;
            }

            .card-1 {
                grid-area: card1; 
            }

            .card-2 {
                grid-area: card2; 
            }

            .card-3 {
                grid-area: card3; 
            }

        }



        .restaurant-card-container {
            display: grid; 
            grid-template: 
            " c1 c2"
            "c3 c4"
            ;
            grid-gap: 1em;

            .cards {
                margin: 1em;
            }

            .rcard-1 {
                grid-area: c1; 
            }

            .rcard-2 {
                grid-area: c2; 
            }

            .rcard-3 {
                grid-area: c3; 
            }

            .rcard-4 {
                grid-area: c4; 
            }
        }        
       

      }


      @media (min-width: $lg) {
        body {
          background-color: rgb(17, 167, 42);
        }

      


      }

      @media (min-width: $xl) {
        body {
          background-color: rgb(255, 251, 0);
        }

        .restaurant-card-container {
            display: grid; 
            grid-template: 
            " c1 c2 c3 c4"
            ;
        }    
      }


