//CARDS FONCTIONNEMENT

.card {

    border-radius: 30px;
    
        &-fonctionnement {
            background-color: $background-primary;
            display: flex;
            text-align: center;
            align-items: center;
            position: relative;
    
            & * {
                
                display: flex;
                text-align: center;
                padding: 0.5em;
            }
    
            &__number-container {
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                background-color: $colour-primary;
                border-radius: 15px;
                width: 30px;
                height: 30px;
                position: absolute;
                left: -10px;
                
        
                p {
                    color: white;
                }
            }
        
            &__icon-container {
                padding-left: 40px;
                display: flex;
                text-align: center;
                justify-content: center;
        
                i {
                    color: darken($background-primary, 60);
                }
        
            
            } 
            &__text-container {
                
                width: 100%;
            }
        
        
        }
    
        
    }


    //* Restaurants *//

    .Restaurants {

        background-color: $background-primary;

        .cards {

     
            border-radius: 25px;
            width: 90%;
            margin: 1em;
            
            .cards_img {

                position: relative;

                .img-nouveau {
                    height: 30px;
                    width: 90px;
                    background-color: rgb(139, 212, 188);
                    color:green;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    display: flex;

                    p {
                        margin: auto;
                    }
                    
                }
                img {
                    object-fit: cover;
                    width: 100%;
                    border-radius: 25px 25px 0 0;
                }
            }

            .cards_text-left {
                padding-left: 1em;
                padding-bottom: 0.7em;

                p {
                    margin-top: 0.5em;
                    padding-top: 0;
                }
            }
        }
    }