//CARDS FONCTIONNEMENT

.card {

    border-radius: 30px;
    
        &-fonctionnement {
            background-color: $background-primary;
            display: flex;
            text-align: center;
            align-items: center;
            position: relative;

           
            & * {
                
                display: flex;
                text-align: center;
                padding: 2.5%;
            }
    
            &__number-container {
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                background-color: $colour-primary;
                border-radius: 15px;
                width: 30px;
                height: 30px;
                position: absolute;
                left: -10px;
                
        
                p {
                    color: white;
                }
            }
        
            &__icon-container {
                padding-left: 40px;
                display: flex;
                text-align: center;
                justify-content: center;
        
                i {
                    color: darken($background-primary, 60);
                }
        
            
            } 
            &__text-container {
                
                width: 100%;
            }
        
        
        }


    
        
    }

    .card-fonctionnement:hover {
        background-color: $background-purple;
        cursor: pointer;

        i {
            color: $colour-primary;
        }
    }


    //* Restaurants *//

    .Restaurants {

        background-color: $background-primary;

        a {
            text-decoration: none;
            color: rgb(45, 45, 45);
        }
        .restaurant-card-container {
            margin: 2em;

            
        }

        .cards {


            border-radius: 25px;
            //width: 100%;
            margin-bottom: 2em;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.103), 0 6px 6px rgba(0, 0, 0, 0.151);
            transform: scale(1);
            transition: all 200ms;
            &:hover {
                transform: scale(1.01);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.144), 0 6px 6px rgba(0, 0, 0, 0.199);
                
            }


            .cards_img {

                position: relative;
                width: 100%;

                .img-nouveau {
                    height: 30px;
                    width: 90px;
                    background-color: rgb(139, 212, 188);
                    color:rgb(30, 126, 113);
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    display: flex;

                    p {
                        margin: auto;
                    }
                    
                }
                img {
                    object-fit: cover;
                    width: 100%;
                    border-radius: 25px 25px 0 0;
                    height: 200px;
                }
            }
            
            .cards_text {
                display: flex;
                justify-content: space-between;
                align-items: center;

            }
            .cards_text-left {
                padding-left: 1em;
                padding-bottom: 0em;
                text-align: left;
                line-height: 8px;
                padding-top: 8px;
                

        


                p {
                    margin-top: 0.5em;
                    padding-top: 0;
           

                    strong {
                        padding-bottom: 0;
                        margin-bottom: 0;
                    }
                }
            }
            
            .cards_text-right {
                padding-right: 1em;
                font-size: xx-large;

               

                .filled  {
                    display: none;
                    background: #CF70C5;
                    // background: -webkit-linear-gradient(to right, #CF70C5 0%, #9217CF 100%);
                    // background: -moz-linear-gradient(to right, #CF70C5 0%, #9217CF 100%);
                    background: linear-gradient(to right, #CF70C5 0%, #9217CF 100%);
                    // -webkit-background-clip: text;
                    // -webkit-text-fill-color: transparent;
                }

                .border {
                    display: block;
                }

                &:hover {
                   
                    .filled {
                        display: block;
                        animation: fadein 1s; 
                    }

                    .border {
            
                        display: none;
                    }
                }
            }
      
        }
    }

    // Menu Cards

    .menu {
        .cards {
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        }

        @for $i from 1 to 40 {
            .card-menu:nth-child(#{$i}) 
            { animation-delay: $i * 200ms; }
        }
    }


    .card-menu {
        animation: fadeupin 500ms backwards;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        margin-bottom: 15px;
        border-radius: 15px;
        
        
        transform: scale(1);
        transition: transform 200ms;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.144), 0 6px 6px rgba(0, 0, 0, 0.199);
            cursor : pointer;

            .check-container {
                
                opacity: 100%;
                width: 60px;

                i {
                    
                    transform: rotate(0turn);
               
                }
             
            }
           
        }


       
        
        

        h4 {
            padding-top: 10px;
            padding-left: 10px;

        }

        p {
            font-size: 15px;
            padding-bottom: 10px;
            padding-left: 10px;
        }

        h4, p {
            margin: 5px;
        }

        &__right {
            display: flex;
            align-items: stretch;
            

            .price-container {
                display: flex;
                align-items: flex-end;
                margin-right: 10px;
            }

            .check-container {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 0px;
                opacity: 0%;
                background-color:rgb(139, 212, 188);
                border-radius: 0 15px 15px 0;
                color: rgb(255, 255, 255);
                font-size: 20px;
                margin: 0;
                transition: all 330ms ease-in-out;

                i {
                    transform: rotate(-1turn);
                    transition: transform 800ms ease-in-out;
                }
                
            }
            
        }

        &__left {
            // display: flex;
            // align-items: flex-start;
            // flex-direction: column;
            // justify-content: flex-start;
            
            overflow: hidden; 
            text-align: left;

            h4, p {
                // display: inline-block;
                max-width: 300px; 
                white-space: nowrap; 
                overflow: hidden; 
                text-overflow: ellipsis;
            }

        }

       

    }

    


    // Responsive 
    // Media Querys



    @media (min-width: $xl) {
       

        .restaurant-card-container {
            display: grid; 
            grid-template: 
            "c1 c2 c3 c4" 1fr 1fr 1fr 1fr
            ;
        }    
    }


    


