footer {
    background-color: $background-secondary;
    color: white; 
    padding-bottom: 2em;
   

    h2 {
        padding-top: 1em;
        margin-top: 0;
    }  
    ul {
        list-style: none;
        padding-left: 0em;
        
       
        
        li {
            display: flex;
            align-items: center;
            height: 2em;
            padding-left: 2em;

            i {
                padding-right: 10px;
            }
            
        }
       
    }
}

.menu footer {
    h2 {
        padding-left: 32px;
    }
}